<div class="navbar">
    <a href="/">Hem</a>
    <a href="/minasidor">Mina sidor</a>
    {% if username %}
    <a href="/login">Logga ut</a>
    {% else %}
    <a href="/login">Logga in</a>
    <a href="/signup">Registrera</a>
    {% endif %} 
</div>

