{% extends "layout.njk" %}

{% block content %}
<main class="container">
  <div class="wrapper">
  <div class="card">
    <h2> {{ meow.username }} </h2>
  <h2>{{ message }}</h2>
</div>
</div>
</main>
{% endblock %}